@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}

p:hover {
  cursor: pointer;
  background-color: purple;
}

.credits {
  color: #000;
  margin-top: 2em;
  font-size: 0.8em;
  text-align: center;
}
